@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: #F5F5F5;
}

/* shared style */

.fira-sans-bold {
    font-family: "Fira Sans", serif;
    
    font-style: normal;
}

.oeoe-color{
    color: rgba(14, 14, 14, 0.5);
}

.oeoe-color-70{
    color: rgba(14, 14, 14, 0.7);
}

.primary-bg-color{
    color: #006A50;
}

/* header  */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
    align-items: center;
    margin-bottom: 20px;
}

nav h2{
    font-size: 30px;
}

nav button{
    font-size: 15px;
    font-weight: 600;
    color: #006A50;
    padding: 13px 25px;
    border-radius: 8px;
    border: 2px solid #006A50;
}

nav button:hover{
    background: #6cdda8;
    cursor: pointer;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C6E4D6;
    max-width: 1080px;
    max-height: 400px;;
    margin: 0 auto;
    padding: 80px 59px;
    border-radius: 18px;
}

.banner-info{
    width: 622px;
}

.btn-banner{
    margin-top: -24px;
    padding: 17px 34px;
    color: #FFFFFF;
    background: #006A50;
    border: 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-banner:hover{
    background: #078767;
    cursor: pointer;
}

.banner-id{
    font-size: 20px;
    font-weight: 500;
    
}

.banner-title{
    font-size: 50px;
    width: 89%;
    margin-top: 0;
}

.banner img{
    width: 470px;
    height: 380px;
}

/* main  */
.section{
    width: 1200px;
    margin: 0 auto;
}

.pillar-sect{
    margin-top: 75x;
    margin-bottom: 75px;
    height: 324px;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
} 

.pillar-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card{
    width: 302px;
    height: 244px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.vision-sect{
    height: 120px;
    margin-top: 80px;
    margin-bottom: 32px;;
}

.vision-info{
    font-weight: 400;
    font-size: 16px;
}

.energy-sect{
    margin-bottom: 32px;
}

.vision-cards{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;

}

.vcard{
    width: 380px;
    height: 300px;
    border-radius: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px 0;
}

.vcard img{
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: 20px;
}

.vcard-title{
    font-size: 20px;
    font-weight: 700;
}

.vcard-info{
    font-size: 15px;
    font-weight: 400;
}

.vcard-bio{
    /* margin-right: 32px;
    margin-left: 32px; */
    height: 180px;
    width: 346px;
    margin-left: 40px;
    margin-right: 32px;
}

.btn-vcard{
    align-content: left;
    margin-left: 32px;
    margin-right: 256px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    width: 122px;
    height: 41px;
    border: none;
    border-radius: 8px;
    margin-top: -24px;
}

.blue-btn{
    background: rgba(84, 144, 245, 1);
}

.blue-btn:hover{
    background: rgb(31, 104, 231);
    cursor: pointer;
}

.green-btn{
    background: rgba(9, 161, 92, 1);
}

.green-btn:hover{
    background: rgb(21, 135, 84);
    cursor: pointer;
}

.orange-btn{
    background: rgba(255, 194, 57, 1);
    cursor: pointer;
}

.orange-btn:hover{
    background: rgb(247, 182, 31);
    cursor: pointer;
}

.blue{
    background: rgba(84, 144, 245, 0.2);
}

.green{
    background: rgba(198, 228, 214, 1);
}

.orange{
    background: rgba(247, 235, 207, 1);
}

.quote-sect{
    background: #FFFFFF;
    height: 245px;
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat; 
    background-position: left 25px top 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.quote-container{
    margin-left: 25px;
    margin-right: 25px;
    
}

.quote-info{
    font-size: 14px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: -12px;
}

.quote-name{
    font-size: 19px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
}

.quote-status{
    font-size: 14px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
    margin-top: -20px;
}

.opinion-sect{
    margin-top: 80px;
}

.question-container{
    height: 400px;
    background: #FFFFFF;
    border-radius: 16px;
}

.news-container{
    height: 402px;
    background: #FFFFFF;
    border-radius: 16px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.news-sect-bio{
    font-size: 15px;
    font-weight: 400;
}

.news-container img{
    width: 700px;
    border-radius: 24px;
    margin-right: 32px;
}

.news-brief{
   margin-bottom: 30px;
}

.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 29px;
    font-weight: 700;
}

.news-brief img{
    width: 134px;
    height: 40px;
    overflow: visible;
}

.news-date, .news-info{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.btn-news{
    font-size: 16px;
    font-weight: 600; 
    color: #FFFFFF;
    background: rgba(0, 106, 80, 1);
    /* width: 139px;
    height: 48px; */
    border-radius: 8px;
    padding: 13px 26px;
    border: 0;
}

.btn-news:hover{
    background: rgb(15, 190, 147);
    cursor: pointer;
}

.news-date{
    display: flex;
    justify-content: flex-start;  
}

.news-date span{
    margin-right: 22px;
}

.donation-sect{
    margin-top: 80px;
    height: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cash{
    width: 1070px;
    height: 128px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;  
    /* background: #006A50; */
}

.amount{
    width:240px;
    height: 128px;
    background: #FFFFFF;
    gap: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    font-size: 35px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}

.amount:hover{
    background: rgba(237, 87, 87, 0.8);
    cursor: pointer;
}

.donation-sect input{
    width: 989px;
    height: 58px;
    margin: auto;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: auto;
    color: rgba(14, 14, 14, 0.3);
    border: 0;
}

.donation-sect button{
    width: 135px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background: rgba(0, 106, 80, 1);
    border: 0;
    border-radius: 8px;
}

.donation-sect button:hover{
    background: rgb(15, 182, 140);
    cursor: pointer;
}

.donation-info{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: -6px;
}

.green-donation{
    background: rgba(198, 228, 214, 1);
}

.subscribe-sect{
    background: rgba(198, 228, 214, 1);
    height: 380px;
    margin-top: 80px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px; 
}

.subscribe-sect h2{
    margin-bottom: -4px;
}

.sub-sect-info{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 620px;
    text-align: center;
} 

.sub-input-container{
    width: 750px;
    display: flex;
    align-items: center;
}

.sub-input-container input{
    padding-left: 40px;
    width: 600px;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    line-height: auto;
    color: rgba(14, 14, 14, 0.3);
    border: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.sub-input-container button{
    width: 150px;
    height: 56px;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background: rgba(0, 106, 80, 1);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.sub-input-container button:hover{
    background: rgb(20, 187, 145);
    cursor: pointer;
}

.sub-spam-text{
    font-size: 15px;
    font-weight: 400;
} 

/* footer-section */

footer{
    background: #FFFFFF;
    width: 100%;
    height: 226px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 47px;
}

footer h2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 29px;
    font-weight: 700;
}

.icon-container{
    width: 120px;
    display: flex;
    justify-content: space-around;
}