@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: #F5F5F5;
}

/* shared style */

.fira-sans-bold {
    font-family: "Fira Sans", serif;
    
    font-style: normal;
}

.oeoe-color{
    color: rgba(14, 14, 14, 0.5);
}

.oeoe-color-70{
    color: rgba(14, 14, 14, 0.7);
}

.primary-bg-color{
    color: #006A50;
}

/* header  */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 160px;
    align-items: center;
    margin-bottom: 20px;
}

nav h2{
    font-size: 30px;
}

nav button{
    font-size: 15px;
    font-weight: 600;
    color: #006A50;
    padding: 13px 25px;
    border-radius: 8px;
    border: 2px solid #006A50;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C6E4D6;
    max-width: 1080px;
    max-height: 400px;;
    margin: 0 auto;
    padding: 80px 59px;
    border-radius: 18px;
}

.banner-info{
    width: 622px;
}

.btn-banner{
    margin-top: -24px;
    padding: 17px 34px;
    color: #FFFFFF;
    background: #006A50;
    border: 0;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
}

.btn-banner:hover{
    background: #078767;
}

.banner-id{
    font-size: 20px;
    font-weight: 500;
    
}

.banner-title{
    font-size: 50px;
    width: 89%;
    margin-top: 0;
}

.banner img{
    width: 470px;
    height: 380px;
}

/* main  */
.section{
    width: 1200px;
    margin: 0 auto;
}

.pillar-sect{
    margin-top: 75x;
    margin-bottom: 75px;
    height: 324px;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
} 

.pillar-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card{
    width: 302px;
    height: 244px;
    background-color: #FFFFFF;
}

.vision-sect{
    height: 120px;
    margin-top: 80px;
    margin-bottom: 32px;;
}

.vision-info{
    font-weight: 400;
    font-size: 16px;
}

.energy-sect{
    height: 48px;
}

.vision-cards{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;

}

.vcard{
    width: 380px;
    height: 300px;
    border-radius: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px 0;
}

.vcard img{
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: 20px;
}

.vcard-title{
    font-size: 20px;
    font-weight: 700;
}

.vcard-info{
    font-size: 15px;
    font-weight: 400;
}

.vcard-bio{
    /* margin-right: 32px;
    margin-left: 32px; */
    height: 180px;
    width: 346px;
    margin-left: 40px;
    margin-right: 32px;
}

.btn-vcard{
    align-content: left;
    margin-left: 32px;
    margin-right: 256px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    width: 122px;
    height: 41px;
    border: none;
    border-radius: 8px;
    margin-top: -24px;
}

.blue-btn{
    background: rgba(84, 144, 245, 1);
}

.blue-btn:hover{
    background: rgb(31, 104, 231);
}

.green-btn{
    background: rgba(9, 161, 92, 1);
}

.green-btn:hover{
    background: rgb(21, 135, 84);
}

.orange-btn{
    background: rgba(255, 194, 57, 1);
}

.orange-btn:hover{
    background: rgb(247, 182, 31);
}

.blue{
    background: rgba(84, 144, 245, 0.2);
}

.green{
    background: rgba(198, 228, 214, 1);
}

.orange{
    background: rgba(247, 235, 207, 1);
}